---
import type { AstroIntegrationLogger } from 'astro';

interface Props {
  name: string;
  link: string;
  dateVisted: string;
  herbs: number;
  aroma: number;
  flavor: number;
  noodles: number;
  meat: number;
  price: number;
  notes: string;
}

const { name, link, dateVisted, herbs, aroma, flavor, noodles, meat, price, notes } = Astro.props;
const total = herbs + aroma + flavor + noodles + meat;
---

<div>
  <a href={link}><h2>{name} (${price})</h2></a>
  <p>{notes}</p>
</div>

<style>
  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
</style>
