<header>
  <h1><a href='/pdxpho'>PDX Phở</a></h1>
  <nav><a href='/pdxpho/about'>About</a></nav>
</header>
<style>
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    border-bottom: 3px solid var(--alabaster-dark);
  }
  header h1 {
    margin: 0;
    align-self: baseline;
  }
  header nav {
    justify-self: end;
    align-self: baseline;
  }
  h1 a {
    text-decoration: none;
    color: var(--black);
  }
</style>
