<header>
  <h1><a href='/pdxpho'>PDX Phở</a></h1>
  <nav>
    <a
      href='https://www.google.com/maps/d/u/0/edit?mid=12N8htBwIjGgiZ7Juvo9-9_Z_lVNKGx4&usp=sharing'
      >Map</a
    >
    <a href='/pdxpho/about'>About</a>
  </nav>
</header>
<style>
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    border-bottom: 3px solid var(--alabaster-dark);
  }
  header h1 {
    margin: 0;
    align-self: baseline;
    font-weight: 800;
    letter-spacing: -0.05rem;
  }
  header nav {
    justify-self: end;
    align-self: baseline;
  }
  header nav a {
    margin-left: 1rem;
  }
  h1 a {
    text-decoration: none;
    color: var(--black);
  }
</style>
